@charset "utf-8";
/* CSS Document */
/*********** CORE ***********/
/* THEME CSS */
* { margin:0px; padding:0px; }
.height { height:800px; background:#CCC; width:100%; }
.testing { height:200px; background:#666 }
.content { height:300px; background:#999; width:100%; }
ol { padding:0 60px; }
.fixed { position:fixed; width:100%; top:0px; }
.top { top:0px; width:100%; z-index:111 }
.content2 { background:#FFF; height:2600px; position:absolute; left:0; width:100%; }
.position-relative { position:relative; }

.testmain { overflow:auto; height:100vh; }